* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


ul.main-menu  {
    display: flex; 
  list-style: none;
  gap: 20px;
}

header  {
    display:flex;
    justify-content:space-between;
  background-color: grey;
  color: white;
}
.tools-menu {
  display: inline-flex;
  
}
search {
    
    
}
li.social-menu__icons {
  display:inline-flex;
   
    
}
.social-menu__icons {
    width: 2rem;
    height: 2rem;
  color:white;
    
}