* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background-color: #1B1D24;
}


ul.main-menu  {
    display: flex; 
  list-style: none;
  gap: 20px;
}

header  {
    display:flex;
    justify-content:space-around;
  background-color: #1B1D24;
  color: white;
  width: 100%;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
}
.tools-menu {
  display: inline-flex;
  
}
hero-banner__img {
    width: 100px;
    height: 100px;
    
    
}
li.social-menu__icons {
  display:inline-flex;
   
    
}
.social-menu__icons {
    width: 2rem;
    height: 2rem;
  color:white;
    
}
.hero-banner {
    background-color: #1B1D24;
    position: relative;
    display: flex;
    margin-left: 10%;

}
.hero-banner__data {
    color: white;
    position: absolute;
    bottom: 0%;
    left: 50%;
    background-color: #1B1D24;
    height: 40vh;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 30px;
    
    h1 {
        font-family: "Roboto Condensed", sans-serif;
        margin-bottom: 10%;
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 35px;
        
    }
    a {
        font-family: "Roboto Condensed", sans-serif;
        margin-bottom: 10%;
        
    }
    p {
        font-family: "Roboto", sans-serif;
        font-weight: 200;
        font-size: 0.9em;
        margin-bottom: 10%;
    }
}
a {
    text-decoration: none;
    color: white;
}
.aside {
    color: white;
    
}
.aside__item {
    list-style: none;
}