/*RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, button, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, menu {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    
}
body {
    font-family: "Roboto", sans-serif;
    color: white;
}
.background-dark { /*Este backgroun nos permite martener el fondo oscuro en los margenes de header y en la parte del slider*/
    background-color: #1a1d24;
    
}
.sticky {
    position: sticky; /*Lo he desactivado para que no cause conflicto y lo traslade al left*/
    top: 0;
    z-index: 101;
}
main {
     background-color: #f2f2f2;  
}
menu.main-menu  {
    display: flex; 
  list-style: none;
  /* gap: 50px; */
  font-weight: 600;
  
}
.main-menu li:hover {
    text-decoration: underline 1px;
    text-decoration-color: #E0041D;
    
}
.main-menu li:not(:last-child)::after  {
        content: "/";
        color:#a8a8a8;
        /* gap: 10px; */
        padding-inline: 25.2px;
        display: inline-block;
        
        /*PREGUNTAR XQ NO PUEDO SEPARAR Y NO SE APLICA LA REGLA AL ULTIMO HIJO*/
}   
.wrapper {
    max-inline-size: 1200px;
    margin-inline: auto;
}
.header, .main-menu, .tools-menu, .social-menu {
    display: flex;
}
button, svg, a:hover, .main-menu, .aside__subtitle {
    cursor: pointer;
} 
header  {
    
    justify-content:space-between;
    align-items: center;
    background-color: #1B1D24;
    color: white;
    padding-block: 44px 29px;/*importante para centrarlo*/
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    

    min-height: 89px;
    
}
.tools-menu {
  display: flex;
  gap: 50px;
}
ul.social-menu::before {
    content: "|";
    color: #a8a8a8;
    padding-right: 20px;
}
ul.social-menu {
    gap: 30px;
}


.social-menu__icons {
    width: 16px;
    height: 16px;
  color:white;
}


/*HERO BANNER*/


.hero-banner {
    background-color: #1B1D24;
    position: relative;
    display: flex;
    margin-left: 18%;
    padding-bottom: 200px;
    
}
.hero-banner__img {
    max-height: 610px;
    width: 75%;
    flex-basis: 74%;
    object-fit: cover; /* esto me recorta la imagen para cubrirla, no la estira*/
}
.hero-banner__data {
    color: white;
    position: absolute;
    bottom: 0%;
    left: 62%;
    background-color: #1B1D24;
    height: 36vh;
    line-height: 25px;
    padding-top: 33px;
    padding-left: 29px;
    max-width: 400px;
    margin-bottom: 90px;
    
    h1 {
        font-family: "Roboto Condensed", sans-serif;
        margin-bottom: 10%;
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 35px;
        
    }
    a {
        font-family: "Roboto Condensed", sans-serif;
        margin-bottom: 10%;
        
        
    }
    a::after {
        content: url(img/arrow.svg);
        
        display: inline-block;
        width: 25px;
        height: 30px;


        
        
    }
    p {
        font-family: "Roboto", sans-serif;
        font-weight: 200;
        font-size: 0.9em;
        margin-bottom: 10%;
        line-height: 23px;
        color:#a8a8a8;
    }
}
a {
    text-decoration: none;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1px;
}


                            /*Aside con news*/


.aside {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    color: white;
    width: 25%;
    margin-left: 20px;
    
}
.aside__title {
    font-weight: 900;
    text-transform: uppercase;
    
}
.aside__title::after {
    content: "";
    background: #E0041D;
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
    margin-top: -1px;
    height: 1px;
    width: 28px;
}
.aside__list {
    width: 300px;
}
.aside__item {
    list-style: none;
    display: flex;
    padding: 10px;
    h3 {
        padding: 10px;
        
    }
    time {
        padding: 10px;
        font-size: 12px;
        color: #a8a8a8;
    }
}

                        /*Slider de peliculas*/
.slider-films {
    position: relative;
    top: -120px;
   
}
.slider-films__buttons {
    margin-bottom: 34px;
}
.slider-films__button {
    font-size: 13px;
    letter-spacing: 1.1px;
    color: #b8b8b8;
    background-color: transparent;
    border: 0;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}
.slider-films__button:not(:last-child)::after {
    content: "/";
    padding-inline:20px;
}
.slider-films__button.active {
    color:white;
}
.slider-films__button:hover {
    color: whiter;
}
.slider {
    display: flex;
    height: 300px;
    gap: 20px;

}
.slider__slide{
    display: flex;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 20%;
    align-items: end;
   
}
.slider__slide > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 16px;
    fill: currentColor;
    width: 16px;
    border: 2px solid rgb(255 255 255 / 0.5);
    border-radius: 50%;
    padding: 5%;
    translate: -50% -50%; /*IMPORTANTE: esta regla, de manera conjunta con el position:absolute es lo q nos permite centrar realmente en el centro*/
}
.slider__slide:hover > svg {
    border: 2px solid rgb(255 255 255 / 1);
    transition: .4s;
}
.slider__slide > div {
    padding: 18px;
}
.slide1 {
    background-image:linear-gradient(transparent 50%, #00000080), url(img/post-19-copyright-485x598.jpg);
    
}
.slide2 {
    background-image:linear-gradient(transparent 50%, #00000080), url(img/post-20-copyright-485x598.jpg);
  
}
.slide3 {
    background-image:linear-gradient(transparent 50%, #00000080), url(img/post-24-copyright-485x598.jpg);
    
}
.slide4 {
    background-image:linear-gradient(transparent 50%, #00000080), url(img/post-23-copyright-485x598.jpg);
   
}
.slide5 {
    background-image:linear-gradient(transparent 50%, #00000080), url(img/post-23-copyright-485x598.jpg);
   
}
.slider__slide_genre {
    margin-top: 5px;
    font-size: 12px;
    display: inline-block;
    text-transform: capitalize;
    
}
.slider__slide_genre a {
    
    /*Pendiente d rellenar*/
}
/* NEW RELEASES */
.background-light {
    background-color: #fff;
    width: 100%;
     position: relative;
    margin-top: 80px; 
}
.background-light::before { /*TRUCO PARA AÑADIR UN TROZO BLANCO SOBRE LA FIGURA. VA EN CONJUNTO CON EL POSITION RELATIVE Y EL MARGIN TOP DEL CONTAINER SUPERIOR*/
    content: "";
    display: inline-block;
    width: 100%;
    height: 80px;
    position:absolute;
    top: -80px;
    background-color: #fff;
}
.releases {
    display: grid;
    background-image: url(img/bg_samurai.jpg);
    width: 100%;
    height: 440px;
    grid-template-columns: 1fr 1fr;
    width: 1850px;
    margin: 0 auto;
    padding-left: 50px;

}
.releases__news {
    grid-column: 2/3;
    align-self: center;
    padding: 20px 0;
    max-width: 570px;
    h2 {
        color: black;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 37px;
        margin: 20px 0;
        font-weight: 600;
        text-transform: uppercase;
    }
    h6{
        font-family: "Roboto Condensed", sans-serif;
        font-size: 13px;
        color: black;
        margin: 20px 0;
        font-weight: 600;
        .season {
            margin-left: 13px;
        }
    }
    h5{
        color: #a8a8a8;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 13px;
        margin: 20px 0;
        font-weight: 600;
        letter-spacing: 0.1em;
    }
    p{
        color: #a8a8a8;
        font-family: "Roboto", sans-serif; 
        font-size: 15px;
        margin: 20px 0;
    }
}
.releases__news_buttons {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 13px;
    margin: 20px 0;
    margin-right: 50px;
    font-weight: 600;
    letter-spacing: 0.1em;

}
.relase_info {
    color: #E0041D  ;
}

.films {
    display: flex;
    height: 663px;
    width: 485px;
    flex-direction: row;
    position: relative;
}
.films__posters {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items:end;

}
.films__posters::before {
    background-image: linear-gradient(transparent 50%, #00000080);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
                /*PENDIENTE DE TERMINAR EL DEFRADADO*/
}
.poster__info {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 16px 38px 0;
    margin: 0 0 49px;
    gap: 15px;
    justify-items: start;
    width: 100%;
    transition: 0.5s;
    h2 {
        margin-top: 38px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    h2::before {
        content: '';
        display: inline-block;
        width: 44px;
        height: 1px;
        background-color: #F8D350;
    }
    .films_buttons_container {
        font-family: "Roboto Condensed", sans-serif;
            font-size: 11px;
            font-weight: 500;
            /* visibility: hidden; */
            opacity: 0;
            transition: 0.5s;
        button {
            background-color: transparent ;
            color: #fff;
        }
    }
    
}
.poster__info:hover {
        
        transform: translateY(-50px);
        .films_buttons_container {
            /* visibility: visible; */
            opacity: 1;
        }
}
/* .poster1 {
    background-image: url(img/post-23-copyright-485x665.jpg);
}
.poster2 {
    background-image: url(img/post-23-copyright-485x665.jpg);
}
.poster3 {
    background-image: url(img/post-23-copyright-485x665.jpg);
}
.poster4 {
    background-image: url(img/post-23-copyright-485x665.jpg);
} */

/*COMMENTS SECTION*/
.comments {
    background-color: #e0011a;
    height: 511px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    /* margin-block: 40px; */
    .comments__section {
        display: flex;
        width: 1170px;
       overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
       
       .comments__card {
        width: 370px;
        height: 285px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        overflow-x: hidden;
        gap: 25px;
        flex-shrink: 0; /*Este me dice q se enconjan para ocupar el conteneder*/
        flex-basis: 33.333332%; /*33 porque son 3, 99%*/
        scroll-snap-align: start;
        /* overflow-wrap: normal; */
        img{
            width: 105px;
            height: 105px;
            border-radius: 50%;

        }
        svg {
            width: 15px;
            height: 20px;
        }
        p {
            font-family: "Lora", serif;
            font-size: 20px;
        }
        h3 {
            font-family: "Roboto Condensed", sans-serif;
            font-size: 13px;
            font-weight: 600;
        }
        h4 {
            font-family: "Roboto", sans-serif;
            font-size: 12px;
        }
       } 
    }
}

/*LATES NEWS SECTION*/
.latest_news {
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    align-content: center;
    .news_title_container {
        align-items: flex-start;
        display: flex;
        width: 100%;
        .more_news_title {
            
             margin-bottom: 45px;
             
             }
             h2 {
                 color: black;
                 font-family: "Roboto Condensed", sans-serif;
                 text-transform: uppercase;
                 font-weight: 600;
                 font-size: 37px;
                 letter-spacing: 1px;
                 display: flex;
                 flex-direction: column;
                 gap: 38px;
                 
             }
             h2:before {
                 content: '';
                 display: inline-block;
                 width: 44px;
                 height: 1px;
                 background-color: #E0041D;
                
             }
             p {
                 /* color: black; */
                 font-family: "Lora", serif;
                 color: #737373;
                 font-size: 16px;
                 margin-top: 10px;
                 }
         }
    }
    
    .news_grids {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr;
        grid-gap: 30px;
        width: 100%;
        height: 570px;
        
        .latest_news__grid {
            background-color: #E0041D;
            border: 1px solid;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding: 2em 1.5em;
            gap: 15px;

            .news_grids_minititle {
                font-family: "Roboto Condensed", sans-serif;
             font-size: 13px;
             font-weight: 600;
             color: #f8b350;   
            }
            .news_grids_title {
                font-family: "Roboto Condensed", sans-serif;
             font-size: 17px;
             font-weight: 600;
            }
            .latest_news__date_likes {
                color: #d2d2d2;
                font-size: 11px;
                font-family: "Roboto Condensed", sans-serif;
                display: flex;
                gap: 25px;
                /* text-align: center; */
                align-items: center;
            }
        }
        .cell1{
            grid-column: 1/2;
            grid-row: 1/4;
            background-image:linear-gradient( hsla(0, 0%, 0%, 0.502), hsla(0, 0%, 0%, 0.502)), url(./img/post-3-copyright-1170x658.jpg);
            .news_grids_title {
                font-size: 37px;
            }
            
        }
        .cell2 .cell3{
            
            grid-row: 1/3;
        }
        .cell2{
            background-image:linear-gradient( hsla(0, 0%, 0%, 0.502), hsla(0, 0%, 0%, 0.502)), url(./img/post-12-copyright-760x428.jpg);
        }
        .cell3 {
            background-image:linear-gradient( hsla(0, 0%, 0%, 0.502), hsla(0, 0%, 0%, 0.502)), url(./img/post-5-copyright-760x428.jpg);
        }
      
        .cell4{
            grid-column: 2/4;
            grid-row: 2/4;
            background-image:linear-gradient( hsla(0, 0%, 0%, 0.502), hsla(0, 0%, 0%, 0.502)), url(./img/post-6-copyright-760x428.jpg);
            .news_grids_title {
                font-size: 24px;
            }
        }
    }
    .more_news {
        margin-top: 50px;
        .latest_news_button {
            background-color: #e0011a;
            padding:17px 39px;
            border-radius: 5px;
            color: #fff;
             font-family: "Roboto Condensed", sans-serif;
             font-size: 13px;
             font-weight: 600;
             margin-bottom: 120px;
        }
    }
}



/*FOOTER---------------------------------*/
.footer__container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #1B1D24;
}
.footer {
    display: flex;
    background-color: #1B1D24;
    justify-content:space-evenly ;
    height: 406px;
    align-items:first baseline;
    padding: 150px 0 32px 0;
    /* width: 1200px; */
    
}
.footer__list_brand {
    
}
.footer__media {
    width: 17px;
    height: 37px;

}
.footer__newsletter {
    display: flex;
}
.footer__lists > h2 {
    margin-bottom: 17px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    font-size: 17px;
   
    
}
.footer__lists > h2::after {
    content:'';
    display: inline-block;
    background-color: #E0041D;
    height: 1px;
    width: 28px;
    vertical-align: middle;
    margin-top: -1px;
    margin-left: 16px;  
}
.footer__movie_items, .footer__links_items {
    font-family: "Lora", serif;
    color: #a8a8a8;
    font-size: 14px;
    margin:9px 0;
    padding: 3px;
    
}
.footer__movie_items:not(:first-child), .footer__links_items:not(:first-child) {
    margin:9px 0;    
}
.lateral__buttons {
    
    
   
    
    
    position: fixed;
    right: 0;
    top:50%;
    
    
    z-index: 101;
    transform: translateY(-50%); /*Para centrarlo realmente. Es un calculo q hace sobre el objeto, el -50% del tamaño del obeto*/

}
.lateral__list {
    display: flex;
    flex-direction: column;
    gap: 3px;
    
}
.lateral__button {
    width: 68px;
    height: 60px;
    background-color: #E0041D;
    color: #fff;
    font-size: 20px;
    box-shadow: 0 0 15px black;
}
